
.total-gold {
  font-size: 32px;
}

.path {
  text-align: center;
  padding: 40px;
  border: 1px solid #ccc;
  min-height: 300px;
}

.logs {
  border: 1px solid #ccc;
  height: 300px;
  overflow: scroll;
  padding: 20px;
  font-size: 20px;
}

.success { color: green; }
.failure { color: red; }
