<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ninja gold</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename="css/styles.css")}}">
</head>
<body>

  <div class="container">

    <br>

    <div class="row">
      <div class="col-md-12">
        Your gold: 100
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-3">
        <div class="path">
          <h2>Farm</h2>
          <h4>(earn 10-20 gold)</h4>
          <form action="/process_money" method="POST">
            <input type="hidden" name="building" value="farm">
            <input type="submit" value="Go" class="btn btn-primary btn-lg">
          </form>
        </div>
      </div>
      <div class="col-md-3">
        <div class="path">
          <h2>Cave</h2>
          <h4>(earn 5-10 gold)</h4>
          <form action="/process_money" method="POST">
            <input type="hidden" name="building" value="cave">
            <input type="submit" value="Go" class="btn btn-primary btn-lg">
          </form>
        </div>
      </div>
      <div class="col-md-3">
        <div class="path">
          <h2>House</h2>
          <h4>(earn 2-5 gold)</h4>
          <form action="/process_money" method="POST">
            <input type="hidden" name="building" value="house">
            <input type="submit" value="Go" class="btn btn-primary btn-lg">
          </form>
        </div>
      </div>
      <div class="col-md-3">
        <div class="path">
          <h2>Casino</h2>
          <h4>(earn or take 50 gold)</h4>
          <form action="/process_money" method="POST">
            <input type="hidden" name="building" value="casino">
            <input type="submit" value="Go" class="btn btn-primary btn-lg">
          </form>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-12">
        <div class="logs">
          <div class="log">Earn 15 gold for the farm! (2013/09/03) 6:15pm</div>
          <div class="log">Earn 15 gold for the farm! (2013/09/03) 6:15pm</div>
          <div class="log">Earn 15 gold for the farm! (2013/09/03) 6:15pm</div>
          <div class="log">Earn 15 gold for the farm! (2013/09/03) 6:15pm</div>
          <div class="log">Earn 15 gold for the farm! (2013/09/03) 6:15pm</div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
